@using PizzaBlazor.Client.Services
@using PizzaBlazor;
@using PizzaBlazor.Client.Services;
@using PizzaBlazor.Shared.DtoModels;
@using PizzaBlazor.Shared.DtoModels.Order
    using PizzaBlazor.Shared.DtoModels.Order;
@code {
    [Parameter]
    public OrderDTO Order { get; set; }

    [Parameter]
    public OrderState OrderState { get; set; }
}

<div class="sidebar">
    @if (Order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in Order.Pizzas)
            {
                <div class="cart-item">
                    <div class="title">@(configuredPizza.Size)" @configuredPizza.Special.Name</div>
                    <div class="item-price">
                        @configuredPizza.GetFormattedTotalPrice()
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza<br>to get started</div>
    }

    <div class="order-total @(Order.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@Order.GetFormattedTotalPrice()</span>
        <a href="checkout" class="@(Order.Pizzas.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
            Order >
        </a>
    </div>
</div>